
body, input, textarea {
  font-family: Georgia, "Times New Roman", Serif;
  background-color: lightgrey;
  color: darkgreen;
}

/*#main {*/
/*  color: black;*/
/*}*/

.word{
  color: brown;
}
.container {
  /*width: 940px;*/
  /*margin: auto;*/
  width: 1170px
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#word {
  font-size:20px;
  color: #C5A438;
  position: absolute;
  top: 20px;
  left: 30px;
}


#title {

  font-family: Georgia, "Times New Roman", Serif;
  text-align:center;
  color: darkslateblue;
  opacity: 0.4;
  font-style: italic;
}
#about{
  text-align:center;
  opacity: 0.4;
  font-style: italic;
color: deeppink;
}

.sentence {
  opacity: 0.4;
  fill: #ddd;
}

.highlight {
  fill: darkslateblue;
  opacity: 1.0;
}

.line {
  stroke:#C5A438;
  stroke-width:1;
  fill:none;
  pointer-events: none;
}

#vis {
  /*font-size: 2px;*/
  color: deeppink;
}

#vis .word {
  /*opacity: 0.4;*/
  color: brown;
}
